
h1 {
    font-size: 50px;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* centering canvas */
#myCanvas {
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#playButton {
    background-color: #5684D5; 
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.buyTower {
    background-color: #56D596;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 40%;
}

.sellButton {
    background-color: #56D596;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position: absolute;
    top: 80%;
    left: 60%;
}


.wave {
    font-size: 30px;
    position: absolute;
    top: 28%;
    left: 66%;
    transform: translate(-50%, -50%);
}

/* Dropdown buttons */
/* .dropbtn {
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    padding: 16px;
    font-size: 16px;
    border: 1px;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    z-index: 1;
} */
  
  /* Inside the dropdown button */
  /* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display:block;}
*/